#seller-frame {
    border: 1px solid #BEBEBE;
    width: 99%;
    float: left;
    background : white;
    overflow: auto;
   /* padding: 5px 0px 6px 0px;*/
}

#seller-selection-block {
    text-align: center;
    vertical-align: middle;
    display:inline-block;
    border: 1px solid #BEBEBE;
    width: 100%;
    padding: 5px 0px 6px 0px;
    overflow:hidden;
}

#li-element{
	height: 33px;
	padding-top: 13px;
	background-color: rgb(226, 225, 219);
	border: solid 1px;
	margin-bottom: 1px;
}

#li-element li:hover {
	color:#FFFFFF;
    background-image:url(/point_of_sale_agilorg/static/src/img/hover.png);
}
